body {
 margin: none;
 padding: none;
 box-sizing: border-box;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 font-family: "Poppins", sans-serif;
 color: #f0ede3;
 background-color: #ff7f50;
}

.app {
 background-color: #36454f;
 width: 50%;
 height: 90%;
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 border: 4px solid black;
 border-radius: 15px;
 box-shadow: 10px 10px #000000;
}

#instructions {
 text-align: center;
 margin: 0 15px;
}

h1 {
 font-weight: 700;
}

p {
 font-weight: 400;
}

#main {
 margin-top: 20px;
 display: flex;
 justify-content: center;
 width: 100%;
}

#wifi-form {
 margin: 20px;
 width: 100%;
}

#wifi-form input {
 padding: 10px;
 width: 50%;
 font-size: 1.1em;
 border-radius: 0.5rem;
 border: 3px solid #000000;
}

input:focus {
 outline: 2px solid #000000;
}

#wifi-form label {
 font-size: 1.6em;
 font-weight: 600;
}

#input-field {
 display: flex;
 justify-content: flex-start;
 vertical-align: center;
}

input {
 margin-left: 1rem;
 background-color: #f0ede3;
 font-size: 1.7em;
 font-weight: 500;
}

button {
 background-color: #f0ede3;
 border: 3px solid black;
 font-size: 1.5em;
 font-weight: 600;
 cursor: pointer;
 border-radius: 0.5rem;
 /* height: 40px;
  width: 80px; */
}

#qr-section {
 display: flex;
 justify-content: center;
 margin: 25px 0;
}

